<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Assets/Css/style.css">
</head>
<body>

    <header>
        <div class="img-profile">
            <img src="../Assets/IMG/Pastry.png" alt="">
        </div>
        
        <div class="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        
        <nav class="menu">
                <ul>
                    <li><a href="#"> <i class="fa-solid fa-parachute-box"></i> Pedidos</a></li>
                    <li><a href="#"><i class="fa-solid fa-user"></i> Usuarios</a></li>
                    <li><a href="#"> <i class="fa-solid fa-motorcycle"></i> Repartidores</a></li>
                    <li><a href="#"> <i class="fa-solid fa-clipboard-list"></i> Mis pedidos</a></li>
                </ul>
        </nav>
    </header>

    <main>

        <div class="content">

            <div class="profile-1">
                <img src="../Assets/IMG/pato.jpg" alt="">

                <div class="profile-title-1">
                    <h1>Actualizar mis Datos</h1>
                </div>
                <div class="profile-data-1">
                        <input type="text" placeholder="Nombre">
                        <input type="text" placeholder="Apellido"><br>
                        <input type="text" placeholder="Correo"><br>
                        <input type="text" placeholder="Telefono"><br>
                        <input type="text" placeholder="Fecha de Nacimiento"><br>
                        <input type="text" placeholder="Cedula"><br>
                        <input type="text" placeholder="Dirección"><br>

                </div>
                
            </div>
        </div>

        <div class="btn-profile">

            <a href="#">ACTUALIZAR</a>
            
        </div>

    </main>
    <footer>
        <div class="foot">
            <a href="#">@Julian Peralta</a>
            <a href="#">Daniel Diaz</a>
            <a href="#">@Santiago Piza</a>
            <a href="#">@Sergio Valbuena</a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/00fcdb64c1.js" crossorigin="anonymous"></script>
    <script src="../Assets/Js/script.js"></script>
    
</body>
</html>