<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d42fb48da4.js" crossorigin="anonymous"></script>
    <link rel="Icon" href="../Assets/IMG/logo-removebg-preview.png">
    <link rel="stylesheet" href="../Assets/Css/StylePerCake.css">
    <title>Personlize cake</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../Assets/IMG/logo-removebg-preview.png" alt="logo-Empresa">
        </div>

        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <nav class="nav-bar">
            <ul>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <button type="submit" id="button" class="navbar-button">CERRAR</button>
                </li>
            </ul>
        </nav>
    </header>

    <main>

        <h1>PERSONALIZA TU PASTEL <hr> </h1>

        <div class="options">
            <form action="#">
                <div class="conte">
                    <div class="tres">
                        <select name="editor" id="editor">
                            <option value="cuantas">CUANTAS PERSONAS</option>
                            <option value="number1">1</option>
                            <option value="number1">2</option>
                            <option value="number1">3</option>
                            <option value="number1">4</option>
                            <option value="number1">5</option>
                            <option value="number1">6</option>
                            <option value="number1">7</option>
                            <option value="number1">8</option>
                            <option value="number1">9</option>
                            <option value="number1">10</option>
                            <option value="number1">11</option>
                            <option value="number1">12</option>
                            <option value="number1">13</option>
                            <option value="number1">14</option>
                            <option value="number1">15</option>
                            <option value="number1">16</option>
                            <option value="number1">17</option>
                            <option value="number1">18</option>
                            <option value="number1">19</option>
                            <option value="number1">20</option>
                        </select>
        
                        <select class="cantidad" name="cantidad" id="editor">
                            <option value="cuantas">CANTIDAD DE PISOS</option>
                            <option value="number1">1</option>
                            <option value="number1">2</option>
                            <option value="number1">3</option>
                            <option value="number1">4</option>
                        </select>
        
                        <select name="editor" id="editor">
                            <option value="cuantas">CANTIDAD SABORES</option>
                            <option value="number1">1</option>
                            <option value="number1">2</option>
                            <option value="number1">3</option>
                            <option value="number1">4</option>
                        </select>
                    </div>
    
                   <div class="tres">
                        <select name="editor" id="editor">
                            <option value="cuantas">SABOR 1</option>
                            <option value="number1">CHOCOLATE</option>
                            <option value="number1">VAINILLA</option>
                            <option value="number1">FRESA</option>
                            <option value="number1">LIMON</option>
                        </select>
    
                        <select class="cantidad" name="editor" id="editor">
                            <option value="cuantas">SABOR 2</option>
                            <option value="number1">CHOCOLATE</option>
                            <option value="number1">VAINILLA</option>
                            <option value="number1">FRESA</option>
                            <option value="number1">LIMON</option>
                        </select>
    
                        <select name="editor" id="editor">
                            <option value="cuantas">RELLENO</option>
                            <option value="number1">MERMELADA</option>
                            <option value="number1">GANACHE</option>
                            <option value="number1">CREMA PARA BATIR</option>
                            <option value="number1">LIMON</option>
                        </select>
                   </div>
                </div>

               <div class="op">
                    <input type="text" placeholder="Escribe algunas caracteristicas adicionales que esperar del pastel">
                    <div class="file-upload">
                        <label for="archivo">
                            Subir archivos de referencia
                            <i class="fa-solid fa-file-arrow-up"></i>
                        </label>
                        <input type="file" name="archivo" id="archivo">
                    </div>
                    <button><i class="fa-solid fa-cart-shopping"></i></button>
               </div>
            </form>
        </div>

        
    </main>

    <footer>
        <p>@Julian Peralta @Daniel Diaz @Santiago Piza @Sergio Valbuena </p>
    </footer>

    <script type="Text/javaScript" src="../Assets/Js/header.js" ></script>
</body>
</html>