<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Assets/Css/style.css">
</head>
<body>

    <header>
        <img src="../Assets/IMG/Pastry.png" alt="">
        <div class="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        
        <nav class="menu">
                <ul>
                    <li><a href="#"> <i class="fa-solid fa-parachute-box"></i> Pedidos</a></li>
                    <li><a href="#"><i class="fa-solid fa-user"></i> Usuarios</a></li>
                    <li><a href="#"> <i class="fa-solid fa-motorcycle"></i> Repartidores</a></li>
                    <li><a href="#"> <i class="fa-solid fa-clipboard-list"></i> Mis pedidos</a></li>
                </ul>
        </nav>
    </header>

    <main>

        <div class="content">

            <div class="profile">
                <img src="../Assets/IMG/pato.jpg" alt="">

                <div class="profile-title">
                    <h1>Bienvenido: Julian Peralta</h1>
                </div>
                <div class="profile-data">
                    <b>
                        <p>Edad: 17</p>
                        <p>Correo: juliperalta136@gmail.com</p>
                        <p>Sexo: Masculino</p>
                    </b>
                </div>
                
            </div>
        </div>

        <div class="btn-profile">

            <a href="Actualizar_datos.html">ACTUALIZAR</a>
            <a href="#">ELIMINAR</a>
            
        </div>

    </main>
    <footer>
        <div class="foot">
            <a href="#">@Julian Peralta</a>
            <a href="#">Daniel Diaz</a>
            <a href="#">@Santiago Piza</a>
            <a href="#">@Sergio Valbuena</a>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/00fcdb64c1.js" crossorigin="anonymous"></script>
    <script src="../Assets/Js/script.js"></script>
    
</body>
</html>